@font-face {
    font-family: 'Target3D';
    src: url("//db.onlinewebfonts.com/t/50912074cf1b485b6e9e1101490e0eeb.ttf") format("truetype");
}

@font-face {
    font-family: 'AtariClassic';
    src: url("//db.onlinewebfonts.com/t/1481ee4d30d9e1d35c84e09e69e14e92.ttf") format("truetype");
}