@import "./fonts.scss";

input:focus, textarea:focus, select:focus {
  outline: none;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.btn-principal {
  color: white;
  background: transparent;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border: 3px solid white;
}

.select-principal {
  background-color: transparent;
  border: 2px solid white;
  padding: 5px;
  width: 100%;
  color: white;
  border-radius: 5px;

  option {
    color: black;
  }
}

.input-principal {
  background-color: transparent;
  border: 2px solid white;
  padding: 5px;
  width: 100%;
  color: white;
  border-radius: 5px;
}

.nomargin {
  margin: 0px !important;
}

.nopadding {
  padding: 0px !important;
}