@import "./fonts.scss";

.btn-principal {
  color: white;
  background: transparent;
  padding: 10px 15px 10px 15px;
  border: 5px solid white;
}

.nomargin {
  margin: 0px !important;
}

.nopadding {
  padding: 0px !important;
}