@import "./fonts.scss";

input:focus, textarea:focus, select:focus {
  outline: none;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.btn-principal {
  color: white;
  background: transparent;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border: 3px solid white;
}

.btn-principal:hover {
  color: black;
  background: white;
}

.select-principal {
  background-color: transparent;
  border: 2px solid white;
  padding: 5px;
  width: 100%;
  color: white;
  border-radius: 5px;

  option {
    color: black;
  }
}

.input-principal {
  background-color: transparent;
  border: 2px solid white;
  padding: 5px;
  width: 100%;
  color: white;
  border-radius: 5px;
}

.nomargin {
  margin: 0px !important;
}

.nopadding {
  padding: 0px !important;
}

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}